@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
    font-family: 'Roboto', sans-serif;
    background: url("../icon/background.jpeg") no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
}

.logo {
    width:100px;
    height:100px;
}

audio {
    position: relative;
}

header {
   text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

p {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: grey;
}

.audio-player {
    position: relative;
    margin: 0 auto;
    padding: 1em;
    max-width: 23em;
    background: hsla(0,0%,100%,.25) border-box;
    overflow: hidden;
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
}

.audio-player::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -30px;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

@media screen and (max-width: 560px) {
    .audio-player {
        width: 100vw;
        background: white;
    }
}

.info {
    flex: 1;
    padding: 16px 30px;
}

.cover-art {
    position: absolute;
    top: 15px;
    right: 19px;
    width: 120px;
    height: 120px;
    background-color: pink;
    background-size: cover;
    transition: all 0.2s;
    border: whitesmoke 2px solid;
}

@media screen and (max-width: 520px) {
    .cover-art {
        position: relative;
        width: 100%;
        height: 90vw;
        bottom: inherit;
        right: inherit;
    }
    .logo, h1 {
        display:none;
    }
}
@media screen and (max-height: 500px) {
    .cover-art {
        display: none;
        width: 0px;
        height: 0px;
    }
}
.cover-art a {
    display: block;
    width: 100%;
    height: 100%;
}
.cover-art a:hover {
    background: #22a952;
    opacity: 0.2;
}

.controls {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: -1px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.2s;
}

.controls_plays {
    flex: 2;
    display: flex;
    justify-content: space-around;
}
.controls_player {
    flex: 1;
    fill: #7FE5A3;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 420px) {
    .controls {
        flex-direction: column;
        height: 100px;
    }
}

#plays_btn, #prev_btn, #next_btn {
    cursor: pointer;
    width: 26px;
    max-width: 18px;
    transition: all 0.2s;
}
#plays_btn:hover, #prev_btn:hover, #next_btn:hover {
    fill: #e9eef1;
}

#pause_btn {
    display: none;
}

#volume_btn, #playlist_btn {
    cursor: pointer;
    width: 23px;
    max-width: 18px;
    transition: all 0.2s;
}
#volume_btn:hover, #playlist_btn:hover {
    fill: #22a952;
}

.progressbar_slide {
    width: 100%;
    background: #7fe5a3;
    height: 6px;
}

.progressbar_range {
    width: 0;
    background: black;
    height: 6px;
}

table {
    border-collapse: collapse;
}

.playList {
    border-top: darkcyan solid 2px;
}

th {
    color: #585858;
}


.playList td {
    border-top: grey solid thin;
    padding-left: 20px;
}

.playList td:hover {
    color: #FBFBEF;
}

.playList img {
    width:20px;
    height:20px;
    border:none;
}

.playList img:hover {
    background-color: #BDBDBD;
}

.close {
    display:none;
}

